* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: lightgrey;
    display: flex;
    justify-content: center;
}

.container {
    position: relative;
    display: flex;
    flex-direction: column;
    border-radius: 25px;
    margin-top: 60px;
    align-items: center;
    width: 280px;
    height: 550px;
    background-color: white;
    padding: 30px 20px;
    padding-bottom: 10px;
}

.top-bar {
    position: relative;
    display: flex;
    width: 100%;
    align-items: center;
}

.top-bar h1 {
    color: #005457;
    font-size: 25px;
    font-weight: 800;
    display: inline-block;
}

.back-button {
    display: none;
    position: relative;
    margin-right: 20px;
}

#app-setting {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}

.section-title {
    font-weight: 500;
    font-size: 13px;
    margin-bottom: 10px;
}

.content {
    width: 100%;
    height: 100%;
    position: relative;
    margin-top: 10px;
}

.task-item {
    display: flex;
    align-items: center;
    background-color: #63b4ff;
    padding: 15px 15px;
    border-radius: 25px;
    position: relative;
    margin-bottom: 7px;
    animation: animation-in 0.5s ease-in-out;
    transition: 0.3s;
}

.task-item:hover {
    background-color: goldenrod;
}

@keyframes animation-in {
    from {
        opacity: 0;
        transform: translateX(10px);
    }
}

.task-item input[type="checkbox"] {
    visibility: hidden;
    margin-right: 10px;
    border-radius: 50%;
    position: absolute;
}

.check-icon {
    color: white;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 50%;
    transform: translateX(-50%);
}

.task-item input[type="checkbox"]:checked + label,
.task-item input[type="checkbox"]:not(:checked) +label {
    display: inline-block;
    position: relative;
    width: 15px;
    height: 15px;
    background-color: transparent;
    border-radius: 5px;
    border: 2px solid #005457;
    margin-right: 10px;
}

.task-item input[type="checkbox"]:checked + label {
    background-color: #005457;
}

.task-item input[type="checkbox"]:checked + label .check-icon {
    visibility: visible;
}

.task-item input[type="checkbox"]:not(:checked) +label .check-icon {
    visibility: hidden;
}

.task-short-description {
    display: inline-block;
    width: 83%;
    font-size: 13px;
    color: white;
}

.task-more-infor {
    position: absolute;
    right: 15px;
    color: #005457;
}

.completed .task-item .task-short-description {
    text-decoration: line-through;
}

.add-button {
    background-color: goldenrod;
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    position: absolute;
    bottom: 10px;
    right: 0px;
    transition: 0.3s;
}

.add-button i {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.add-button:hover {
    transform: rotate(90deg);
}

.add-button:active {
    background-color: black;
}

.add-task:hover .add-task-input {
    visibility: visible;
    opacity: 100%;
    bottom: 15px;
}

.add-task-input {
    border: 1px solid blueviolet;
    outline: none;
    position: absolute;
    border-radius: 25px;
    left: 0;
    bottom: 0px;
    padding: 10px 15px;
    transition: 0.3s ease-in-out;
    opacity: 0;
    visibility: hidden;
}


/*----------------------ADD TASK--------------------------*/
.add-task-activity {
    display: none;
}

.add-task-activity input {
    display: block;
    margin-bottom: 10px;
    border: none;
    outline: none;
    background-color: transparent;
}

.add-task-activity p {
    margin-left: 10px;
}

#title-input {
    width: 100%;
    font-size: 20px;
}

#desc-input {
    width: 100%;
    outline: none;
    border: none;
    margin-bottom: 20px;
    margin-left: 0px;
}

#desc-input:empty:before {
    content: attr(placeholder);
    position: absolute;
    color: gray;
    background-color: transparent;
}

#save-task {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 15px;
    background-color: goldenrod;
    color: white;
    border: none;
}

#save-task:hover {
    background-color: olivedrab;
}

#save-task:active {
    background-color: black;
}

