:root {
    --primary-color: #005457;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: lightgrey;
    display: flex;
    justify-content: center;
}

.container {
    position: relative;
    display: flex;
    flex-direction: column;
    border-radius: 25px;
    margin-top: 60px;
    align-items: center;
    width: 280px;
    height: 550px;
    background-color: white;
    overflow: hidden;
}

.main {
    position: relative;
    display: flex;
    flex-direction: column;
    border-radius: 25px;
    align-items: center;
    width: 280px;
    height: 550px;
    background-color: white;
    padding: 30px 20px;
    padding-bottom: 10px;
    overflow: hidden;
}

.top-bar {
    position: relative;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.back-button {
    display: none;
    position: relative;
    margin-right: 20px;
}

.topbar__title {
    display: flex;
    align-items: center;
}

.topbar__title__title {
    color: var(--primary-color);
    font-size: 25px;
    font-weight: 800;
    display: inline-block;
}

.topbar__title__opensidebar {
    margin-right: 20%;
    color: var(--primary-color);
}

.topbar__actionbutton {
    display: block;
}

.topbar__actionbutton--item {
    display: inline-block;
    margin-left: 10px;
    color: var(--primary-color);
}

#app-setting {
    color: var(--primary-color);
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}

.section-title {
    font-weight: 500;
    font-size: 13px;
    margin-bottom: 5px;
    display: inline-block;
}

.content {
    width: 100%;
    height: 100%;
    position: relative;
    margin-top: 10px;
}

.task-item {
    display: flex;
    align-items: center;
    background-color: #63b4ff;
    padding: 15px 15px;
    border-radius: 25px;
    position: relative;
    margin-bottom: 7px;
    animation: animation-in 0.5s ease-in-out;
    transition: 0.3s;
    flex-wrap: wrap;
}

.task-item:hover {
    background-color: goldenrod;
}

.all-task {
    overflow-y: scroll;
    overflow-x: hidden;
}

.all-completed-task {
    overflow-y: scroll;
    overflow-x: hidden;
}

/* width */
::-webkit-scrollbar {
    width: 0px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    border-radius: 15px;
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    border-radius: 15px;
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

@keyframes animation-in {
    from {
        opacity: 0;
        transform: translateX(10px);
    }
}

@keyframes animation-out {
    to {
        opacity: 0;
        transform: translateX(20px);
    }
}

.task-item input[type="checkbox"] {
    visibility: hidden;
    margin-right: 10px;
    border-radius: 50%;
    position: absolute;
}

.check-icon {
    color: white;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 50%;
    transform: translateX(-50%);
}

.task-item input[type="checkbox"]:checked + label,
.task-item input[type="checkbox"]:not(:checked) +label {
    display: inline-block;
    position: relative;
    width: 15px;
    height: 15px;
    background-color: transparent;
    border-radius: 5px;
    border: 2px solid #005457;
    margin-right: 10px;
}

.task-item input[type="checkbox"]:checked + label {
    background-color: #005457;
}

.task-item input[type="checkbox"]:checked + label .check-icon {
    visibility: visible;
}

.task-item input[type="checkbox"]:not(:checked) +label .check-icon {
    visibility: hidden;
}

.task-short-description {
    display: inline-block;
    width: 83%;
    font-size: 13px;
    color: white;
}

.task-description {
    width: 100%;
    font-size: 13px;
    margin-left: 25px;
    margin-top: 5px;
    margin-bottom: 0;
}

.task-more-infor {
    position: absolute;
    right: 15px;
    color: #005457;
}

.completed {
    position: relative;
    align-items: baseline;
}

.completed .task-item .task-short-description {
    text-decoration: line-through;
}

.completed .title {
    display: flex;
}

.completed p:nth-child(2) {
    align-self: baseline;
    display: inline-block;
    font-size: 12px;
    position: absolute;
    right: 5px;
    color: #63b4ff;
    cursor: pointer;
}

.add-button {
    background-color: goldenrod;
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    position: absolute;
    bottom: 10px;
    right: 0px;
    transition: 0.3s;
}

.add-button i {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.add-button:hover {
    transform: rotate(90deg);
}

.add-button:active {
    background-color: black;
}

.add-task:hover .add-task-input {
    visibility: visible;
    opacity: 100%;
    bottom: 15px;
}

.add-task-input {
    border: 1px solid blueviolet;
    outline: none;
    position: absolute;
    border-radius: 25px;
    left: 0;
    bottom: 0px;
    padding: 10px 15px;
    transition: 0.3s ease-in-out;
    opacity: 0;
    visibility: hidden;
}


/*----------------------ADD TASK--------------------------*/
.add-task-activity {
    display: none;
}

.add-task-activity input {
    display: block;
    margin-bottom: 10px;
    border: none;
    outline: none;
    background-color: transparent;
}

.add-task-activity p {
    margin-left: 10px;
}

#title-input {
    width: 100%;
    font-size: 20px;
}

#desc-input {
    width: 100%;
    outline: none;
    border: none;
    margin-bottom: 20px;
    margin-left: 0px;
}

#desc-input:empty:before {
    content: attr(placeholder);
    position: absolute;
    color: gray;
    background-color: transparent;
}

#save-task {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 15px;
    background-color: goldenrod;
    color: white;
    border: none;
}

#save-task:hover {
    background-color: olivedrab;
}

#save-task:active {
    background-color: black;
}

/*--------------EDIT TASK-----------------*/
/*----------------------ADD TASK--------------------------*/
.edit-task-activity {
    display: none;
}

.edit-task-activity input {
    display: block;
    margin-bottom: 10px;
    border: none;
    outline: none;
    background-color: transparent;
}

.edit-task-activity p {
    margin-left: 10px;
}

#edit-title {
    width: 100%;
    font-size: 20px;
}

#edit-desc {
    width: 100%;
    outline: none;
    border: none;
    margin-bottom: 20px;
    margin-left: 0px;
}

#edit-desc:empty:before {
    content: attr(placeholder);
    position: absolute;
    color: gray;
    background-color: transparent;
}

#save-edit {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 15px;
    background-color: goldenrod;
    color: white;
    border: none;
}

#save-edit:hover {
    background-color: olivedrab;
}

#save-edit:active {
    background-color: black;
}

.more {
    width: 100%;
    display: none;
}

.tool {
    display: flex;
    width: 100%;
    justify-content: right;
    align-items: center;
}

.tool-item {
    display: inline-block;
    font-size: 12px;
    position: relative;
    background-color: #005457;
    color: white;
    padding: 2px 8px;
    border-radius: 15px;
    margin: 0px 5px;
    cursor: pointer;
}

/*------------------SIDE BAR----------------------*/

.sidebar {
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    border-radius: 25px;
    width: 85%;
    max-width: 230px;
    height: 550px;
    background-color: white;
    /* box-shadow: 5px 0px 5 5 black; */
    box-shadow: 5px 0px 100px 1px #888888;
    z-index: 1;
    animation: sidebarIn 0.3s ease;
}

.sidebar__close {
    position: absolute;
    right: 20px;
    top: 20px;
    color: #a5aaad;
    cursor: pointer;
    z-index: 1;
}

@keyframes sidebarIn {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes sidebarOut {
    to {
        transform: translateX(-100%);
    }
}

.userprofile {
    position: relative;
    width: 100%;
    padding: 30px 0 20px 20px;
    display: flex;
    border-bottom: 1px solid #f3f3f3;
}

.userprofile__avatar {
    display: inline-block;
    position: relative;
    margin-bottom: 0;
    background-image: url("../images/gaming-avatar.jpg");
    background-color: #555;
    background-size: contain;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    background-color: black;
}

.userprofile__name {
    margin: auto 15px;
    display: inline-block;
    color: black;
    font-weight: bold;
}

.userprofile__name__hello {
    font-weight: 400;
    color: #a5aaad;
}

.option {
    padding: 20px 20px;
}

.option--item {
    margin-left: 20px;
    margin-bottom: 15px;
    color: var(--primary-color);
}

.option--item__title {
    display: inline-block;
    margin-left: 15px;
}

@media only screen and (min-width: 700px) {
    ::-webkit-scrollbar {
        width: 10px;
    }
      
    /* Track */
    ::-webkit-scrollbar-track {
    border-radius: 15px;
    background: #f1f1f1;
    }
    
    /* Handle */
    ::-webkit-scrollbar-thumb {
    border-radius: 15px;
    background: #888;
    }
    
    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
    background: #555;
    }

    .container {
        width: 80%;
        text-align: start;
    }

    .main {
        width: 100%;
    }

    .content {
        align-items: baseline;
    }
    
    .task {
        width: 45%;
        display: inline-block;
        margin-right: 4%;
        margin-left: 2%;
    }

    .completed {
        vertical-align: top;
        width: 45%;
        display: inline-block;
        position: relative;
        top: 0;
        max-width: 100%;
    }

    .all-completed-task {
        padding-right: 5px;
        overflow-y: auto;
    }

    .all-task {
        padding-right: 5px;
        overflow-y: auto;
    }
}

@media only screen and (min-width: 1000px) {
    .container {
        width: 100vw;
        height: 100vh;
        margin: 0;
        padding: 0;
        border-radius: 0;
        display: flex;
        flex-direction: row;
        align-items: unset;
        overflow: unset;
    }
    
    .main {
        height: 90vh;
        display: inline-block;
        overflow: unset;
    }

    .sidebar {
        position: relative;
        display: inline-block !important;
        box-shadow: none;
        height: 100vh;
        border-right: 1px solid aqua;
        border-radius: 0;
        animation: none !important;
        transform: translateX(0);
    }

    .sidebar__close {
        display: none;
        visibility: hidden;
        position: absolute
    }

    .topbar__title__opensidebar {
        display: none;
        visibility:hidden;
        position: absolute;
    }

    .topbar__actionbutton {
        margin-right: 60px
    }

    .add-button {
        right: 60px;
    }

}